body {

    margin: 0;
    padding: 0;
overflow: hidden;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background-image: url("sideaback.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.left-section:hover .parallax {
    transform: scale(1.2);
    z-index: 0;
}

.left-section .fixed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("side_a_transparent.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

.separator {
    flex: 0 0 10px;
    background-color: black;
}

.right-section {
    flex: 1;
    background-image: url("sidebback.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.right-section:hover .parallax2 {
    transform: scale(1.2);
    z-index: 0;
}

.right-section .fixed-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("side_b_transparent.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

.left-section:hover,
.right-section:hover {
    cursor: pointer;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
    background-image: url("sideaback.png");
    background-size: cover;
    transform-origin: center center;
}

.parallax2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
    background-image: url("sidebback.png");
    background-size: cover;
    transform-origin: center center;
}

@media (max-width: 1024px) {

    .separator {
        background-color: rgb(34, 34, 37);
        flex: 0 0 5px;
    }

    .split-screen {
        display: flex;
        flex-direction: column;
    }

    .parallax {
        background-image: url("mobilebacka.png");
        background-size: cover;
        background-position: center center;
    }


    .left-section .fixed-image {
        background-image: url("mobileatext.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .right-section .fixed-image2 {
        background-image: url("mobilebtext.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }
  }

